* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* ----- Share Style ----- */
.share-btn {
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  background-color: rgba(165, 61, 255, 1);
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
}

.share-description-design {
  font-size: 1.21rem;
  color: rgba(85, 96, 112, 1);
  font-weight: 400;
}

.share-color {
  color: rgba(19, 34, 56, 1);
  font-weight: bold;
}

/* ----- Header ----- */
/* --- Nav Bar --- */
.nav-title {
  font-size: 1.5rem;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  background-color: rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(0, 0, 0, 0.048);
  border-bottom: 1px solid rgba(0, 0, 0, 0.048);
  padding: 20px;
  border-radius: 5px;
}
.nav-box ul {
  display: flex;
  gap: 50px;
  list-style: none;
  align-items: center;
}

/* ----- Introduce ----- */
.introduce-title {
  font-size: 4rem;
  margin-bottom: 24px;
}
.btm-main {
  padding-left: 100px;
  margin-top: 24px;
  font-size: 1.25rem;
}
.introduce-box {
  max-width: 648px;
  max-height: 336px;
}
/* --- Experience --- */
.experience-card-title {
  font-size: 2.5rem;
  color: rgba(66, 78, 96, 1);
}
.experience-card {
  background-color: rgba(237, 216, 255, 0.5);
  text-align: center;
  padding: 20px 60px;
  border-radius: 5px;
}
.experience {
  display: flex;
  gap: 5px;
  margin-top: 142px;
}
.introduce-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}

/* ----- MAIN ----- */
/* --- icon --- */
.social-media-icon {
  display: flex;
  justify-content: center;
  gap: 25px;
  color: rgba(0, 0, 0, 0.85);
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 264px;
  max-height: 72px;
  padding: 20px 20px;
  border-radius: 5px;
  margin-top: -200px;
  margin-left: 200px;
}

.professional {
  max-width: 536px;
  max-height: 348px;
  text-align: start;
}
.professional-title {
  font-size: 2.35rem;
  font-weight: bold;
  margin-bottom: 32px;
}
.professional-description {
  margin-bottom: 20px;
}
span {
  display: flex;
  gap: 16px;
}
.btn-2nd {
  color: rgba(165, 61, 255, 1);
  border: 3px solid rgba(165, 61, 255, 1);
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
}
span i {
  margin-right: 20px;
}
.background {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.professional-container {
  margin: 50px 50px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.093);
  border-bottom: 1px solid rgba(0, 0, 0, 0.093);
}

/* --- workprocess --- */
.workprocess-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 24px;
}
.workprocess-description {
  margin-bottom: 16px;
}
.workprocess {
  max-width: 529px;
  max-height: 240px;
}
.research {
  max-width: 312px;
  max-height: 276px;
  background-color: rgba(255, 255, 255, 1);
  padding: 32px 32px;
  border-radius: 10px;
}
.research i {
  font-size: 50px;
  color: rgba(165, 61, 255, 1);
  margin-bottom: 30px;
}
.research-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(19, 23, 56, 1);
}
.workprocess-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.workprocess-box {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;
  align-items: center;
  margin-bottom: 140px;
}

/* -- Portfolio --- */
.portfolio-box {
  text-align: center;
  margin-bottom: 70px;
}
.portfolio-box h2 {
  margin-bottom: 24px;
  font-size: 2.5rem;
  color: rgba(19, 23, 56, 1);
}
.portfolio-card {
  max-width: 424px;
  max-height: 476px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.189);
  border-radius: 8px;
  
}

.ui-ux {
  font-size: 15px;
  font-weight: 600;
  color: rgba(135, 144, 157, 1);
  margin-top: 30px;
  margin-bottom: 10px;
}
.ui-ux-title {
  font-size: 1.3rem;
  color: rgba(19, 23, 56, 1);
  margin-bottom: 12px;
}
.ui-ux-title-btm {
  border: 2px solid rgba(165, 61, 255, 1);
  padding: 12px 24px;
  color: rgba(165, 61, 255, 1);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  background-color: white;
}
.portfolio-card p {
  font-size: 1rem;
}
.portfolio-card-margin {
  margin-left: 30px;
  margin-bottom: 30px;
}
.portfolio-box-flex {
  max-width: 1320px;
  max-height: 976px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.bg-color {
  background-color: rgba(255, 255, 255, 1);
  padding-top: 110px;
  padding-bottom: 110px;
  margin: 50px 50px;
  border: 1px solid rgba(0, 0, 0, 0.105);
  border-radius: 10px;
}
/* --- button --- */
.button {
  font-size: 1rem;
  background-color: rgba(165, 61, 255, 1);
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 5px;
}
.button-main {
  display: flex;
  justify-content: center;
}
/* Do you have Project Idia? Let's discuss your project! */
.discuss-box {
  font-size: 2rem;
  text-align: center;
  background-color: rgba(19, 23, 56, 1);
  padding-top: 60px;
}
.discuss-box h1 {
  color: white;
  margin-bottom: 32px;
}
.discuss-box button {
  margin-top: 32px;
  margin-bottom: 100px;
}

/* ----- BLOG ----- */
.blog-box{
  text-align: center;
  margin-top: 100px;
}   
.blog-box h1{
  font-size:3rem;
  font-weight: bold;
  color: rgba(19, 23, 56, 1);
  margin-bottom: 24px;
}
.blog-bg{
  max-width: 1320px;
  max-height:350px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 70px;
  gap: 24px;px;
  margin-bottom: 132px;
}
.blog-card{
  max-width:312px;
  max-height: 350px;
  background-color:rgba(255, 255, 255, 1);
  border-radius: 10px 10px 0px 0px;
  border: 1px solid rgba(0, 0, 0, 0.167);
}
.blog-card img{
border-radius: 10px 10px 0px 0px;
margin-bottom: 24px;
}
.blog-card p{
font-size: 1rem;
font-weight: 600px;
color: rgba(135, 144, 157, 1);
margin-left: 15px;
}
.blog-card h3{
font-size: 1.2rem;
font-weight: 500;
margin-left: 15px;
margin-top:8px;
padding-bottom: 24px;
}
.blog-container{
align-items: center;
background-color:white;
margin: 50px 50px;
padding: 130px 0;
}

/* ----- What I do? ----- */
.i-do-container h1 {
font-size: 2rem;
color:rgba(51, 51, 51, 1);
font-weight: bold;
margin-bottom: 16px;
}
.i-do-container p{
margin-top: 16px;
max-width:529px;
max-height:338px;
}
.i-do-container button {
font-size: 1rem;
font-weight: 600;
color: white;
padding: 12px 24px;
background-color:rgba(165, 61, 255, 1);
border-radius: 5px;
border: none;
margin-top: 50px;
}
.i-do-card h2{
font-size: 1.2rem;
color:rgba(19, 23, 56, 1);
font-weight: bold;
margin-bottom: 16px;
}
.i-do-card{
max-width: 648px;
max-height: 176px;
background-color:rgba(255, 255, 255, 1);
border-left: 8px solid rgba(165, 61, 255, 1);
border-radius: 10px;
padding: 32px 32px;
}
.i-do-box{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 24px;
}

.i-do{
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;
  align-items: center;
}
