* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
body {
  background-color: rgba(240, 241, 243, 1);
  max-width: 96%;
  margin: 0 auto;
}

/* ----- Share style ----- */
.Gray-900 {
  color: rgba(19, 23, 56, 1);
}
.Gray-white {
  color: rgba(255, 255, 255, 1);
}
.Gray-700 {
  color: rgba(66, 78, 96, 1);
}
.Gray-500 {
  color: rgba(105, 116, 132, 1);
}
.title-font-size {
  font-size: 3rem;
  font-weight: bold;
}
.description-font-size {
  font-size: 1rem;
  font-weight: 500;
}
.margin-top {
  margin-top: 24px;
}
/* ----- Nave Bar ----- */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: white;
  padding: 15px 24px;
}
.nav-title {
  font-size: 1.1rem;
  font-weight: bold;
}
.nav-link a {
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
}
.nav-link ul {
  display: flex;
  list-style: none;
  gap: 48px;
}
.nav-link button a {
  text-decoration: none;
  background-color: rgba(165, 61, 255, 1);
  padding: 12px 24px;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
.nav-link button {
  border: none;
}
.nav-link {
  display: flex;
  gap: 48px;
}

/* ----- Banner -----  */
.banner-box button {
  border: none;
  background-color: rgba(165, 61, 255, 1);
  color: white;
  padding: 12px 14px;
  padding-left: 100px;
  border-radius: 5px;
  margin-top: 24px;
}
.banner-box {
  /* width:48%; */
}

/* --- Card --- */
.experience-card h1 {
  font-size: 2.5rem;
  color: rgba(66, 78, 96, 1);
}
.experience-card p {
  font-size: 1rem;
  color: rgba(105, 116, 132, 1);
  margin-top: 8px;
}
.experience-card {
  background-color: rgba(237, 216, 255, 0.5);
  padding: 17px;
  border-radius: 8px;
  text-align: center;
}
.card-box {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 142px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

/* --- I am Professional User Experience Designer --- */
.btn-1 {
  font-size: 1rem;
  border: none;
  background-color: rgba(165, 61, 255, 1);
  padding: 12px 24px;
  border-radius: 5px;
}
.btn-2 {
  font-size: 1rem;
  color: rgba(165, 61, 255, 1);
  border: 2px solid rgba(165, 61, 255, 1);
  padding: 10px 22px;
  border-radius: 5px;
  background-color: white;
}
.designer-btn {
  display: flex;
  gap: 20px;
}
.professional-user-experience {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 5px;
  padding: 100px;
  margin-bottom: 100px;
}

/* ----- Work Process ----- */

/* --- Card --- */
.work-card {
  background-color: white;
  padding: 32px;
  border-radius: 10px;
  border: none;
}

.work-card i {
  color: rgba(165, 61, 255, 1);
  font-size: 2.5rem;
  margin-bottom: 32px;
}
.work-card h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgba(19, 23, 56, 1);
  margin-bottom: 12px;
}

.work-process {
  display: flex;
  justify-content: space-between;
  gap: 143px;
  align-items: center;
  margin-bottom: 140px;
}
.card-box1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

/* ----- Portfolio ----- */
.Portfolio {
  margin-bottom: 100px;
  border-radius: 5px;
}
.Portfolio-title {
  text-align: center;
  padding-top: 100px;
}

/* --- Card --- */
.Portfolio-box img {
  width: 100%;
}

.Portfolio-box {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: space-around;
}

.Portfolio-card {
  background-color: rgb(255, 255, 255);
  border-radius: 35px 35px 0 0;
  padding-bottom: 44px;
}

.ui-ux {
  color: rgba(135, 144, 157, 1);
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 32px;
  margin-top: 32px;
}
.Portfolio-card h3 {
  color: rgba(19, 23, 56, 1);
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 32px;
  margin-top: 32px;
}
.ui-ux-title {
  font-size: 1rem;
  color: rgba(85, 96, 112, 1);
  padding-left: 32px;
  margin-top: 12px;
}
.Portfolio-card button {
  border: 2px solid rgba(165, 61, 255, 1);
  color: rgba(165, 61, 255, 1);
  background-color: white;
  padding: 12px 24px;
  border-radius: 5px;
  margin-top: 32px;
  margin-left: 32px;
}
.Portfolio-card button i {
  margin-left: 20px;
  color: rgba(165, 61, 255, 1);
}

/* ----- Responsive Section ----- */
/* --- Small devices --- */
@media screen and (max-width: 576px) {
  .nav-link ul {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .pic img {
    width: 100%;
  }
  .professional-user-experience {
    flex-direction: column-reverse;
  }
  .pic-2 {
    display: none;
  }
  .designer-btn {
    justify-content: center;
  }
  .work-process {
    flex-direction: column;
    text-align: center;
  }
  .card-box1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .Portfolio-box {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* --- Medium devices --- */
@media screen and (max-width: 991.98px) {
  .nav-link ul {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .pic img {
    width: 100%;
  }
  .card-box {
    justify-content: space-around;
  }
  .banner-box button {
    padding: 12px 100px;
    font-size: 1.2rem;
  }
  .professional-user-experience {
    flex-direction: column-reverse;
  }
  .designer-btn {
    justify-content: center;
  }

  .work-process {
    flex-direction: column;
    text-align: center;
  }
  .card-box1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .Portfolio-box {
    grid-template-columns: repeat(1, 1fr);
  }
}
